<!doctype html>
<html lang="en">
<head>
  <!-- Styles.css -->
  <link rel="stylesheet" href="../static/css/styles.css">
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display|Josefin+Sans|Montserrat&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  <title>About</title>

  <style>
  .powered {
    position: relative;
    width: 100%;
    top: 130px;
  }

  .powered img{
  float: left;
  padding: 0 7px;
  }

  .bios {
    display: table;
    width: 100%;
  }
  .column {
    display: table-cell;
  }

  </style>

  </head>

<div class="header">
  <a href="/"><img src=../static/images/sixlogo2.png width=100/></a>
</div>
<br>
<div class="topnav">
  <a href="/books">BOOKS</a>
  <a href="/publishers">PUBLISHERS</a>
  <a href="/authors">AUTHORS</a>
  <a href="/about">ABOUT</a>
</div>
<br>
<body>
<div class="bios">
  <div class='column'>
    <!-- Nicole -->
    <div class="card">
      <img src="../static/images/nicolecropped.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">NICOLE CURRENS</h5>
        <i><p class="card-text"> I am going into my fourth year as a Linguistics major at UT! I also have a computer science minor :) </p></i>
        <h5 class="card-text">Major Responsibilities:</h5>
        <ul class="card-text">
            <li>Created the initial pages and initial flask setup</li>
            <li>Set up the cards using bootstrap on the About page</li>
            <li>Learned and implemented API</li>
            <li>Wrote portions of technical report</li>
            <li id="nicoleCommits"></li>
            <li id="nicoleIssues"></li>
        </ul>
        <a href="https://gitlab.com/crenzil/" class="btn btn-primary">Nicole's Gitlab</a>
      </div>
    </div>
  </div>
  <div class='column'>
    <!-- Pranil -->
    <div class="card">
      <img src="../static/images/pranilcropped.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">PRANIL ZAMAN</h5>
        <i><p class="card-text"> I am studying Economics and Computer Science at UT. I spend my free time working on photography, music, and graphics design.</p></i>
        <h5 class="card-text">Major Responsibilities:</h5>
        <ul class="card-text">
            <li>Created and implemented the CSS theme for the website</li>
            <li>Organized the website to make it stylistically neat</li>
            <li>Designed logos for the website</li>
            <li>Added sorting to tables.</li>
            <li id="pranilCommits"></li>
            <li id="pranilIssues"></li>
        </ul>
        <a href="https://gitlab.com/prnl/" class="btn btn-primary">Pranil's Gitlab</a>
      </div>
    </div>
  </div>
  <div class='column'>
    <!-- Edward -->
    <div class="card">
      <img src="../static/images/edward.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">EDWARD XIE</h5>
        <i><p class="card-text">4th year Taxation Accounting Major and pursuing Elements of Computing Certificate</p></i>
        <h5 class="card-text">Major Responsibilities:</h5>
        <ul class="card-text">
            <li>Created project repository and slack workspace</li>
            <li>Created JavaScript function that populated table with JSON data using JQuery (not implemented)</li>
            <li>Populated Authors table and linked tables together</li>
            <li>Deployed to GCP.</li>
            <li id="edwardCommits"></li>
            <li id="edwardIssues"></li>
        </ul>
        <a href="https://gitlab.com/xiefujie/" class="btn btn-primary">Edward's Gitlab</a>
      </div>
    </div>
  </div>
  <div class='column'>
    <!-- Bralen -->
    <div class="card">
      <img src="../static/images/bralencropped.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">BRALEN DULIN</h5>
        <i><p class="card-text">I am a junior physics major, hoping to get a CS certificate! </p></i>
        <h5 class="card-text">Major Responsibilities:</h5>
        <ul class="card-text">
            <li>Designed and stylized the template for the Books, Publishers, and Authors pages</li>
            <li>Populated Books and Publishers tables with information</li>
            <li>Linked books, authors, and publishers pages with home page and About Me page</li>
            <li>Added and filled models.</li>
            <li>Eliminated duplicates in displayed tables.</li>
            <li id="bralenCommits"></li>
            <li id="bralenIssues"></li>
        </ul>
        <a href="https://gitlab.com/bralen/" class="btn btn-primary">Bralen's Gitlab</a>
      </div>
    </div>
  </div>
  <div class='column'>
    <!-- Angelo -->
    <div class="card">
      <img src="../static/images/adgomez.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">ANGELO GOMEZ</h5>
        <i><p class="card-text"> Fourth year economics student at the University of Texas. </p></i>
        <h5 class="card-text">Major Responsibilities:</h5>
        <ul class="card-text">
            <li>Added links to the About Me page using Bootstrap buttons</li>
            <li>Congregated and listed the tools used</li>
            <li>Edited and finalized the technical report</li>
            <li>Updated templates.</li>
            <li id="angeloCommits"></li>
            <li id="angeloIssues"></li>
        </ul>
        <a href="https://gitlab.com/angelodgomez/" class="btn btn-primary">Angelo's Gitlab</a>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div style = "text-align: center">
  <div style = "position: relative; top: 25px; left: 10px">
    <h4 id="totalCommits"; style = "font-family: Josefin Sans; font-size: 20px"></h4>
    <h4 id="totalIssues"; style = "font-family: Josefin Sans; font-size: 20px"></h4>
    <h5 style = "font-family: Josefin Sans">OTHER LINKS:</h5>
    <div style = "position: relative; top: 7px;">
      <a href="https://gitlab.com/xiefujie/cs329e-idb" class="btn btn-secondary" role="button" aria-pressed="true">GitLab Repo</a>
      <a href="https://gitlab.com/xiefujie/cs329e-idb/wikis/home" class="btn btn-secondary" role="button" aria-pressed="true">GitLab Wiki</a>
      <a href="https://gitlab.com/xiefujie/cs329e-idb/issues" class="btn btn-secondary" role="button" aria-pressed="true">GitLab Issue Tracker</a>
  	  <a href="https://www.cs.utexas.edu/users/fares/cs329esummer19/CS%20373_files/tutorials/books.json" class="btn btn-secondary" role="button" aria-pressed="true">Data Source</a>
    </div>
  </div>
  <br>

    <div style = "position: relative; top: 25px; left: 10px">
    	<h4 style = "font-family: Josefin Sans; font-size: 20px">POWERED BY:</h4>
    </div>
  <div style = "position: relative; top: 25px;">
  	<div id = "powered">
  		<img src = "../static/images/gitlab_logo.jpg" alt = "gitlab_logo" style = "width:40px; padding: 7px">
  		<img src = "../static/images/slack_logo.jpg" alt = "slack_logo" style = "width:40px; padding: 7px">
  		<img src = "../static/images/bootstrap_logo.png" alt = "bootstrap_logo" style = "width:40px; padding: 7px">
        <img src = "../static/images/flask_logo.png" alt = "flask_logo" style = "width:40px; padding: 7px">
  		<img src = "../static/images/gcp_logo.png" alt = "gcp_logo" style = "width:40px; padding: 7px">
		<img src = "../static/images/pscclogo.jpg" alt = "photoshop_logo" style = "width:40px; padding: 7px">
		<img src = "../static/images/postgresql_logo.png" alt = "postgresql_logo" style = "width:40px; padding: 7px">
  	</div>
</div>
</div>

<script>
$.ajax({
  type: "GET",
  url: "https://gitlab.com/api/v4/projects/13033131/repository/commits?per_page=1000&page=1",
  cache: false,
  success: function(data){

     var countNicole=0;
     var countEdward=0;
     var countBralen=0;
     var countPranil=0;
     var countAngelo=0;
     var total=0

     for(var i = 0; i < data.length; i++) {
      var obj = data[i];
      if (obj.author_name === "Nicole Currens") {
         countNicole +=1;
        } else if (obj.author_name === "Edward Xie") {
         countEdward +=1;
        } else if (obj.author_name === "Pranil Zaman") {
         countPranil +=1;
        }
        else if (obj.author_name === "Bralen Dulin") {
         countBralen +=1;
        }
        else if (obj.author_name === "Angelo Gomez") {
         countAngelo +=1;
        }

        total+=1;
      console.log(obj.id);
    }

     $("#nicoleCommits").text("Commits: " + countNicole);
      $("#edwardCommits").text("Commits: " + countEdward);
      $("#pranilCommits").text("Commits: " + countPranil);
      $("#bralenCommits").text("Commits: " + countBralen);
      $("#angeloCommits").text("Commits: " + countAngelo);
      $("#totalCommits").text("Total Number of Commits: " + total);
  }
});
</script>

<script>
$.ajax({
  type: "GET",
  beforeSend: function(request) {
    request.setRequestHeader("PRIVATE-TOKEN", "H-VJiwhusWTCiJfdEsn9");
  },
  url: "https://gitlab.com/api/v4/projects/13033131/issues?scope=all&per_page=1000",
  cache: false,
  success: function(data){

     var countNicole=0;
     var countEdward=0;
     var countBralen=0;
     var countPranil=0;
     var countAngelo=0;
     var total=0

     for(var i = 0; i < data.length; i++) {
      var obj = data[i];
      if (obj.author["name"] === "Nicole Currens") {
         countNicole +=1;
        } else if (obj.author["name"] === "Edward Xie") {
         countEdward +=1;
        } else if (obj.author["name"] === "Pranil Zaman") {
         countPranil +=1;
        }
        else if (obj.author["name"] === "Bralen Dulin") {
         countBralen +=1;
        }
        else if (obj.author["name"] === "Angelo Gomez") {
         countAngelo +=1;
        }

        total+=1;
      console.log(obj.id);
    }

     $("#nicoleIssues").text("Issues: " + countNicole);
      $("#edwardIssues").text("Issues: " + countEdward);
      $("#pranilIssues").text("Issues: " + countPranil);
      $("#bralenIssues").text("Issues: " + countBralen);
      $("#angeloIssues").text("Issues: " + countAngelo);
      $("#totalIssues").text("Total Number of Issues: " + total);
  }
});
</script>


</body>

</html>
