<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display|Josefin+Sans|Montserrat&display=swap" rel="stylesheet">

    <title>AUTHORS</title>
    <style>
    h1 {
      text-align: center;
    }

    table {
      border: 2px solid grey;
      border-collapse: collapse;
      text-align: left;
      padding: 15px;
      width: 90%;
      margin-left:5%;
      margin-right:5%;
      margin-bottom: 5%;
    }

    th {
      border: 1px solid grey;
      border-collapse: collapse;
      text-align: center;
      padding: 15px;
      font-family: 'Josefin Sans';
      font-weight: lighter;

    }

    th:hover{
      text-decoration: none;
      color: #3f9c9d;
      cursor: pointer;
    }

    td {
      border: 1px solid grey;
      border-collapse: collapse;
      text-align: center;
      padding: 15px;
      font-family: 'Arial';
      font-style: italic;

    }
    tr:nth-child(even) {
      background-color: #99b5b7;
    }
    tr:nth-child(odd) {
      background-color: #d6d9d9;
    }
    </style>

  </head>

  <div class="header">
  <a href="/"><img src=../static/images/sixlogo2.png width=100/></a>
</div>
<br>
<div class="topnav">
  <a href="/books">BOOKS</a>
  <a href="/publishers">PUBLISHERS</a>
  <a href="/authors">AUTHORS</a>
  <a href="/about">ABOUT</a>
</div>

  <body>
    <h1 style="padding-top: 100px"><img src=../static/images/authors.png width=30%/></h1>
    <div>
      <table id = "myTable">
        <tr style=font-size:130%>
          <th onclick="sortTable(0)">NAME</th>
          <th onclick="sortTable(1)">DATE OF BIRTH</th>
          <th onclick="sortTable(2)">NATIONALITY</th>
          <th>WEBSITE</th>
          <th>IMAGE</th>
        </tr>
		{% for i in authors %}
			<tr>
				<td>{{i.a_name}}</td>
				<td>{{i.date_of_birth}}</td>
				<td>{{i.nationality}}</td>
				{% if i.a_website == "N/A" %}
				<td> {{i.a_website}}</td>
				{% else %}
				<td><a href="{{i.a_website}}">Website</a></td>
				{% endif %}
				{% if i.a_image == "N/A" %}
				<td> {{i.a_image}}</td>
				{% else %}
				<td><img src="{{i.a_image}}" style="width:200px;"></td>
				{% endif %}
			</tr>
		{% endfor %}
      </table>
    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
    function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("myTable");
      switching = true;
      //Set the sorting direction to ascending:
      dir = "asc";
      /*Make a loop that will continue until
      no switching has been done:*/
      while (switching) {
        //start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /*Loop through all table rows (except the
        first, which contains table headers):*/
        for (i = 1; i < (rows.length - 1); i++) {
          //start by saying there should be no switching:
          shouldSwitch = false;
          /*Get the two elements you want to compare,
          one from current row and one from the next:*/
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          /*check if the two rows should switch place,
          based on the direction, asc or desc:*/
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              //if so, mark as a switch and break the loop:
              shouldSwitch= true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              //if so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          /*If a switch has been marked, make the switch
          and mark that a switch has been done:*/
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          //Each time a switch is done, increase this count by 1:
          switchcount ++;
        } else {
          /*If no switching has been done AND the direction is "asc",
          set the direction to "desc" and run the while loop again.*/
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }
    </script>
  </body>
</html>
