<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display|Josefin+Sans|Montserrat&display=swap" rel="stylesheet">
    <title>BOOKS</title>

    <style>
    h1 {
      text-align: center;
    }

    table {
      border: 2px solid grey;
      border-collapse: collapse;
      text-align: left;
      padding: 15px;
      width: 90%;
      margin-left:5%;
      margin-right:5%;
      margin-bottom: 5%;
    }

    th {
      border: 1px solid grey;
      border-collapse: collapse;
      text-align: center;
      padding: 15px;
      font-family: 'Josefin Sans';
      font-weight: lighter;


    }
    td {
      border: 1px solid grey;
      border-collapse: collapse;
      text-align: center;
      padding: 15px;
      font-family: 'Arial';
      font-style: italic;

    }
    tr:nth-child(even) {
      background-color: #99b5b7;
    }
    tr:nth-child(odd) {
      background-color: #d6d9d9;
    }
    </style>

  </head>


<div class="header">
  <a href="/"><img src=../static/images/sixlogo2.png width=100/></a>
</div>
<br>
<div class="topnav">
  <a href="/books">BOOKS</a>
  <a href="/publishers">PUBLISHERS</a>
  <a href="/authors">AUTHORS</a>
  <a href="/about">ABOUT</a>
</div>

  <body>
    <h1 style="padding-top: 65px"><img src=../static/images/books.png width=30%/></h1>
    <div>
      <table>
        <tr style="font-size:130%">
          <th>BOOK TITLE</th>
          <th>AUTHOR</a></th>
          <th>PUBLISHER</a></th>
          <th>PUBLISH DATE</th>
          <th>COVER</th>
        </tr>
		{% for i in books %}
			<tr>
				<td> 	{{i.title}} </td>
				<td>  {{i.author}} </td>
				<td>	{{i.publisher}} </td>
				<td> 	{{i.publication_date}} </td>
				<td> <img src="{{i.cover}}" width= 200px> </td>
			</tr>
		{% endfor %}
      </table>
    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
