<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display|Josefin+Sans|Montserrat&display=swap" rel="stylesheet">
<title>home</title>
<style>
.homeheader {
  position: fixed;
  width: 100%;
  padding-left: 55px;
  padding-top: 45px;
  opacity: 1;
  display: inline-block;
  transition: .4s ease;

}

.homeheader:hover{
  opacity: .4;
}

.hometopnav {
  position: fixed;
  padding-top: 35px;
  padding-right: 55px;
  right: 0px;
}

.hometopnav a{
  color: #2b2b2b;
  font-family: 'Josefin Sans';
  font-weight: lighter;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: .5s ease;
}

/* Change the color of links on hover */
.hometopnav a:hover {
  text-decoration: none;
  color: #3f9c9d;
}
</style>
</head>

<div class="homeheader">
  <a href="/"><img src=../static/images/sixlogo2.png width=100/></a>
</div>
<br>
<div class="hometopnav">
  <a href="/books">BOOKS</a>
  <a href="/publishers">PUBLISHERS</a>
  <a href="/authors">AUTHORS</a>
  <a href="/about">ABOUT</a>
</div>


<body>
  <div id="container">
    <div id="sliderbox">
      <img src="https://books.google.com/books/content/images/frontcover/wrOQLV6xB-wC?fife=w500" Height=450/>
      <img src="https://books.google.com/books/content/images/frontcover/lgkPXgsToXcC?fife=w500" Height=450/>
      <img src="https://books.google.com/books/content/images/frontcover/hgx0sJvphNkC?fife=w500" Height=450/>
      <img src="https://books.google.com/books/content?id=XkHZCwAAQBAJ&pg=PP1&img=1&zoom=3&hl=en&sig=ACfU3U08ECtq2KCh_rU8IceY8j4qrzCKag&w=1280" Height=450/>
      <img src="https://books.google.com/books/content?id=kts7DwAAQBAJ&pg=PP1&img=1&zoom=3&hl=en&sig=ACfU3U09sH4piab3QzSY8SjEP-qCoRzfPQ&w=1280" Height=450/>
      <img src="https://books.google.com/books/content/images/frontcover/OHclhBVv-X4C?fife=w500" Height=450/>
      <img src="https://books.google.com/books/content?id=ihkZDAAAQBAJ&pg=PP1&img=1&zoom=3&hl=en&sig=ACfU3U3EwUHF7LOn9OO-a4qGX-GmRf8f3A&w=1280" Height=450/>
      <img src="https://books.google.com/books/content?id=aJeTCgAAQBAJ&pg=PP1&img=1&zoom=3&hl=en&sig=ACfU3U09DdQHbg_O6mPeMGFtqym2RbKZBg&w=1280" Height=450/>
      <img src="https://books.google.com/books/content?id=wOnIBAAAQBAJ&pg=PP1&img=1&zoom=3&hl=en&sig=ACfU3U38PV3N7l9-WhHb7MEXYAAuWpKPTA&w=1280" Height=450/>
      <img src="https://books.google.com/books/content?id=5cxJBgAAQBAJ&pg=PP1&img=1&zoom=3&hl=en&sig=ACfU3U0R3D6N2Whda7UWxYb6eBi4R-DfpQ&w=1280" Height=450/>
    </div>
  </div>

</body>
</html>
